/*
 * @Author: PosyMo 
 * @Date: 2018-02-26 17:24:11 
 * @Last Modified by: PosyMo
 * @Last Modified time: 2018-02-27 08:42:04
 */
.nav .logo {
    color: #f00;
    font-size: 30px;
    font-weight: bold;
}