/*
 * @Author: PosyMo 
 * @Date: 2018-02-26 17:24:11 
 * @Last Modified by: PosyMo
 * @Last Modified time: 2018-02-28 11:10:44
 */
.nav {
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
    border-bottom: 1px solid #ddd;
}
/* 用户部分 */
.nav .user-info {
    float: left;
}
.nav .user.login {
    display: none;
}
.nav .user .link {
    padding: 0 5px;
}
/* 链接导航部分 */
.nav .nav-list {
    float: right;
    font-size: 0;
}
.nav .nav-list .nav-item {
    display: inline-block;
    font-size: 12px;
}
.nav .nav-list .nav-item .link{
    padding: 0 7px;
}