/*
 * @Author: PosyMo 
 * @Date: 2018-03-07 14:19:57 
 * @Last Modified by: PosyMo
 * @Last Modified time: 2018-03-07 14:32:55
 */
/* 右侧内容区 */
.content.with-nav {
    padding: 10px;
    width: 960px;
    float: left;
    background: #fff;
}
.content.with-nav .panel-title {
    padding: 10px;
    color: #666;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.content.with-nav .panel-body {
    padding-top: 10px;
}
.form-line {
    height: 40px;
    color: #666;
    line-height: 40px;
}
.form-line .label {
    margin-right: 10px;
    width: 70px;
    display: inline-block;
    text-align: right;
}
.form-line .input {
    padding: 0 10px;
    width: 180px;
    height: 30px;
    line-height: 30px;
}
.user-info .btn {
    margin: 20px 0 0 40px;
}