<div class="footer-wrapper">
    <div class="w footer">
        <div class="links">
            <a class="link" href="http://www.imooc.com" target="_blank">慕课网</a>
            <span class="spacer"></span>
            <a class="link" href="https://www.baidu.com" target="_blank">百度</a>
            <span class="spacer"></span>
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝网</a>
            <span class="spacer"></span>
            <a class="link" href="https://www.jd.com" target="_blank">京东</a>
            <span class="spacer"></span>
            <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
            <span class="spacer"></span>
            <a class="link" href="https://github.com" target="_blank">GitHub</a>
        </div>
        <p class="copyright">
            Copyright © 2017 happymmall.com All Right Reserved
        </p>
    </div>
</div>