/*
 * @Author: PosyMo 
 * @Date: 2018-03-09 15:20:30 
 * @Last Modified by: PosyMo
 * @Last Modified time: 2018-03-09 18:56:04
 */
/* keywords-list */
.keywords-list {
    margin-right: 10px;
    padding: 10px 0;
    width: 240px;
    height: 350px;
    float: left;
    background: #fff;
}
.keywords-list .keywords-item {
    padding: 0 10px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
}
.keywords-list .keywords-item:hover {
    background: #d9d9d9;
}
.keywords-list .keywords-item .link {
    margin-right: 6px;
}

/* banner-con */
.banner-con {
    width: 830px;
    height: 370px;
    float: left;
    background: #eee;
}
.banner-con .loading {
    margin-top: 150px;
}
.banner-con .banner-img {
    width: 100%;
    height: 370px;
}
/* banner的前一张和后一张按钮 */
.banner-con .banner-arrow {
    position: absolute;
    top: 160px;
    width: 30px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    background: #ccc;
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}
.banner-con .banner-arrow:hover {
    background: #aaa;
    background: rgba(0, 0, 0, .5);
}
.banner-con .banner-arrow.prev {
    left: 0;
}
.banner-con .banner-arrow.next {
    right: 0;
}
/* floor */
.floor-wrap .floor-title {
    height: 50px;
    color: #d58717;
    font-size: 20px;
    font-weight: normal;
    line-height: 50px;
    border-bottom: 1px solid #d58717;
}
/* 更改各楼层标题颜色 */
.floor-wrap:nth-child(2) .floor-title {
    color: #3b838c;
    border-color: #3b838c;
}
.floor-wrap:nth-child(3) .floor-title {
    color: #a93931;
    border-color: #a93931;
}
.floor-wrap:nth-child(4) .floor-title {
    color: #488bad;
    border-color: #488bad;
}
.floor-wrap:nth-child(5) .floor-title {
    color: #642663;
    border-color: #642663;
}
.floor-wrap .floor-list {
    margin-right: -20px;
    overflow: hidden;
}
.floor-wrap .floor-list .floor-item {
    margin: 15px 20px 15px 0;
    width: 200px;
    height: 220px;
    float: left;
    position: relative;
    cursor: pointer;
    background: #fff;
}
.floor-wrap .floor-list .floor-item:hover {
    box-shadow: 1px 1px 7px #ddd;
}
.floor-wrap .floor-list .floor-item .floor-text {
    position: absolute;
    top: 12px;
    left: 20px;
    color: #555;
    font-size: 16px;
}
.floor-wrap .floor-list .floor-item .floor-img {
    width: 80%;
    height: 75%;
    position: absolute;
    right: 15px;
    bottom: 10px;
    border: none;
}