/*
* @Author: PosyMo
* @Date:   2018-02-08 14:29:56
* @Last Modified by:   PosyMo
* @Last Modified time: 2018-02-10 16:13:46
*/
body {
    background: #ccc;
    /*color: #f00;*/
    font-size: 24px;
    font-weight: bold;
    /*background: url(../../image/test_02.png) no-repeat center center;*/
}