/*
 * @Author: PosyMo 
 * @Date: 2018-03-02 10:14:22 
 * @Last Modified by: PosyMo
 * @Last Modified time: 2018-03-02 10:48:24
 */
.page-wrap {
    margin-top: 20px;
    padding: 50px 0;
    text-align: center;
    background: #fff;
}
.result-con {
    display: none;
}
.result-con .result-title {
    color: #555;
    font-size: 16px;
}
.result-con .result-content {
    margin-top: 20px;
}
.result-con .result-content .link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}